<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>TAGSolution</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="description" content="Transparent LED Panel">
		<meta name="author" content="TAGSolution">


		<!-- GOOGLE FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	</head>
	<body id="top">

		<!-- NAVBAR -->
		<div class="navbar navbar-fixed-top">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
					<span class="sr-only">Menu</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/" class="navbar-title">
					<%= image_tag asset_path('logo_black.png') %>
				</a>
			</div>
			<nav class="navbar-collapse collapse" id="main-nav">
				<ul class="nav navbar-nav navbar-right nav-text-light">
					<li><a href="#top"><%= t('.home') %></a></li>
					<li><a href="#about"><%= t('.about') %></a></li>
					<li><a href="#tagpanel"><%= t('.tagpanel') %></a></li>
					<li><a href="#cosmoblanc"><%= t('.cosmoblanc') %></a></li>
          <li><a href="#contact"><%= t('.contact') %></a></li>
          <% if I18n.locale == :en %>
            <li><%= link_to "[KOREAN]", locale: 'ko' %></li>
          <% else %>
            <li><%= link_to "[ENGLISH]", locale: 'en' %></li>
          <% end %>
				</ul>
			</nav>
		</div>

		<!-- MAIN TOP -->
		<div id="main-top" class="main-top">
			<div class="main-content">
				<div class="container content">
					<div class="row text-center">
						<%= image_tag asset_path('logo.png'), style: "width: 30em; height: auto; margin-bottom: 1.5em;" %>
						<hr style="background-color: white;"/>
						<p style="color: white;"><%= t('.main2') %></p>
					</div>
					<div class="row text-center">
						<a href="#about" class="scroll-down"></a>
					</div>
				</div>
			</div>
		</div>

		<!-- MAIN CONTENT -->
		<div id="main-content" class="main-content">

			<!-- ABOUT -->
			<!-- <div id="about" class="section padding-top">
				<div class="section-content">
					<div class="row text-center">
						<div class="col-md-4 col-sm-12 col-xs-12">
							<div class="box">
                <%= image_tag "archi.jpg" %>
								<div class="overlay">
									<h4><%= t('.architec') %></h4>
									<hr />
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-12 col-xs-12">
							<div class="box">
                <%= image_tag "digital.jpg" %>
								<div class="overlay">
									<h4><%= t('.signage') %></h4>
									<hr />
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-12 col-xs-12">
							<div class="box">
                <%= image_tag "facade.jpg" %>
								<div class="overlay">
									<h4><%= t('.facade') %></h4>
									<hr />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> -->
			<div id="about" class="section about padding-top">
					<div class="section-heading">
						<h2><%= t('.about') %></h2>
						<hr />
					</div>
				<div class="row text-left">
					<div class="col-md-6 col-sm-12 col-xs-12 image">
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12 background" style="border: 0px;">
						<div class="content wow fadeInRight section-heading" data-wow-duration="1s" data-wow-delay="0.5s">
              <h3>Transparency is Everywhere</h3>
              <br />
							<p>
								TAG Solution은<br>
					      "투명한 것은 어디에든 있다"는 비전 아래 지금까지 투명한 유리에 빛을 통해 다양한 컨텐츠를 표현하고, <br>
					      이를 통해 건축물에 새로운 가치를 구현하는 일을 진행해왔습니다.<br>
					      기존 건축물의 디자인을 해치지 않으면서 저희 제품을 통해 텍스트, 이미지, 동영상 등 많은 컨텐츠를 자유롭게 표현하는 것.<br>
					      모든 건축물의 벽면과 유리를 살아있는 디스플레이로 만들고, 스마트 시티로까지 나아가는 일.<br>
					      TAG Solution은 지금 이순간에도 세상을 바꿔가고 있습니다.
							</p>
							<a href="#team" class="btn btn-primary">EXPLORE</a>
						</div>
					</div>
				</div>
			</div>

			<!-- TEAM -->
			<div id="team" class="section padding-top">
				<div class="container">
					<div class="section-heading">
						<h2><%= t('.ourteam') %></h2>
						<hr />
					</div>
					<div class="section-content">
						<div class="row text-center">
							<div class="col-md-4 col-sm-12 col-xs-12 text-center">
								<div class="team wow fadeInLeft" data-wow-duration="1s">
                  <%= image_tag "seung.jpg" %>
									<div class="mask">
										<h2>SeungHwan Park</h2>
										<p>CEO</p>
										<a href="https://www.facebook.com/seunghwan.park.315" class="info"><i class="icon ion-social-facebook"></i></a>
										<a href="https://www.linkedin.com/in/seunghwan-park-4742ba118?trk=nav_responsive_tab_profile_pic" class="info"><i class="icon ion-social-linkedin"></i></a>
									</div>
								</div>
							</div>
              <div class="col-md-4 col-sm-12 col-xs-12 text-center">
                <div class="team wow fadeInDown" data-wow-duration="1s">
                  <%= image_tag "kyung.jpg" %>
                  <div class="mask">
                    <h2>KyungDo Kim</h2>
                    <p>CTO</p>
										<a href="https://www.linkedin.com/in/kyungdo-kim-3aaa98b7/" class="info"><i class="icon ion-social-facebook"></i></a>
										<a href="https://www.facebook.com/kyungdo.kim.11" class="info"><i class="icon ion-social-linkedin"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-12 col-xs-12 text-center">
                <div class="team wow fadeInDown" data-wow-duration="1s">
                  <%= image_tag "keepon.jpg", size:'300x300' %>
                  <div class="mask">
                    <h2>Keepon Cho</h2>
                    <p>Cretive Director</p>
                    <a href="https://www.facebook.com/keeepon" class="info"><i class="icon ion-social-facebook"></i></a>
                    <a href="" class="info"><i class="icon ion-social-linkedin"></i></a>
                  </div>
                </div>
              </div>
						</div>
					</div>
				</div>
			</div>

			<div id="vision" class="section vision padding-top">
				<div class="container">
					<div class="section-heading">
						<h2><%= t('.vision') %></h2>
						<hr />
					</div>
					<p style="text-align: center;">
						TAG Solution이 최종적으로 꿈꾸는 세상은<br>
			      <b>"모든 건축물의 벽면과 유리가 디스플레이가 되어 다양한 컨텐츠를 표현함으로서 건축물이 살아있는듯한 세상을 만드는 것"</b>입니다.<br>
			      이를 위해서는 기존 건축물의 디자인을 해치지 않는 투명함과, 보다 다양한 컨텐츠를 재생할 수 있는 유연함이 필요합니다.<br>
			      TAG Solution에서는 이를 위해 끊임없는 연구개발을 통해 빛으로 세상에 가치를 부여하는 일을 진행하고 있습니다.<br>
			      정적인 건축물에 동적인 컨텐츠를 입혀서 새로운 가치를 부여하는 일.<br>
			      Technology, Art&Glass를 향한 TAG Solution의 목표는 이제 시작입니다.<br>
					</p>
					<div class="col-md-1"></div>
					<div class="col-md-10 col-sm-12 col-xs-12 image">
					</div>
				</div>
			</div>

			<div id="tagpanel" class="section tagpanel padding-top">
				<div class="container">
					<div class="section-heading">
						<h2><%= t('.abouttagpanel') %></h2>
						<hr />
					</div>
					<p style="text-align: center;">
						전세계적으로 건물의 트랜드가 <br>
						투명한 유리가 증가하고 디자인요소가 가미된 건축물로 변화함에 따라, <br>
						기존 건축물의 디자인을 해치지 않고 디지털사이니지를 구현할 수 있는 제품의 수요가 증가하였습니다.<br>
						본 제품은 투명함, 플렉서블함, 얇고 가벼움, 유지보수와 설치용이성이라는 특징을 바탕으로<br>
						다양한 건축물에 쉽게 부착하기만 해도<br>
						텍스트, 이미지, 동영상 등 다양한 컨텐츠를 표현가능합니다.
					</p>
					<div class="col-md-1"></div>
					<div class="col-md-10 col-sm-12 col-xs-12 image">
					</div>
				</div>
			</div>

			<div class="section tagpanel-market padding-top">
				<div class="container">
					<div class="section-heading">
						<h2><%= t('.market') %></h2>
						<hr />
					</div>
					<p style="text-align: center;">
						건축물이 대부분 투명한 유리로 지어질 뿐만 아니라<br>
				    사인물 역시 과거 아날로그 사인부터 기술 발전에 따른 <br>
				    디지털사이니지 시장까지 그 규모가 계속해서<br>
				    확대되고 있으며, 다양한 형태의 사이니지 솔루션이<br>
				    등장하고 있다. 그중 투명한 유리에 쉽게 적용할 수 있는<br>
				    투명LED디스플레이 패널의 시장도 점점 확대되고 있습니다.<br>
					</p>
					<div class="col-md-1"></div>
					<div class="col-md-10 col-sm-12 col-xs-12 image">
					</div>
				</div>
			</div>

			<!-- PROJECTS -->
			<div id="projects" class="section portfolio padding-top">
				<div class="container">
					<div class="section-heading">
						<h2><%= t('.portfolio') %></h2>
						<hr />
					</div>
					<div class="section-content">
						<div class="work-item-wrapper">
							<div class="row work-item-list">
								<div class="col-md-4 col-sm-6 col-xs-12 work-item">
	                <%= image_tag "portfolio1.jpg" ,class: "wow fadeIn", "data-wow-duration"=>"1s", "data-wow-delay"=>"0.5s", style: "height: 268px;"  %>
									<div class="image-overlay">
											<div class="work-item-info">
												<h3>CES 2017 in Las Vegas</h3>
												<p>2017.1</p>
												<i class="fa fa-search-plus"></i>
											</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-12 work-item">
	                <%= image_tag "portfolio2.jpg" ,class: "wow fadeIn", "data-wow-duration"=>"1s", "data-wow-delay"=>"0.5s" %>
									<div class="image-overlay">
											<div class="work-item-info">
												<h3>Cafe in Sinchon, Korea</h3>
												<p>2016.4</p>
												<i class="fa fa-search-plus"></i>
											</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-12 work-item">
	                <%= image_tag "portfolio3.jpg" ,class: "wow fadeIn", "data-wow-duration"=>"1s", "data-wow-delay"=>"0.5s" %>
									<div class="image-overlay">
											<div class="work-item-info">
	                      <h3>COEX in Gangnam, Korea</h3>
												<p>2016.9</p>
												<i class="fa fa-search-plus"></i>
											</div>
									</div>
								</div>
								<div class="col-md-7 col-sm-6 col-xs-12 work-item">
	                <%= image_tag "portfolio4.jpg" ,class: "wow fadeIn", "data-wow-duration"=>"1s", "data-wow-delay"=>"0.5s" %>
									<div class="image-overlay">
											<div class="work-item-info">
	                      <h3>Seoul National University<br>Engineering building</h3>
												<p>2017.3</p>
												<i class="fa fa-search-plus"></i>
											</div>
									</div>
								</div>
								<div class="col-md-5 col-sm-6 col-xs-12 work-item">
	                <%= image_tag "portfolio5.jpg" ,class: "wow fadeIn", "data-wow-duration"=>"1s", "data-wow-delay"=>"0.5s"  %>
									<div class="image-overlay">
											<div class="work-item-info">
												<h3>Office Interior</h3>
												<p>2017.3</p>
												<i class="fa fa-search-plus"></i>
											</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<!-- POTENTIAL PLACES -->
			<div id="projects" class="section portfolio padding-top">
				<div class="container">
					<div class="section-heading">
						<h2><%= t('.potential') %></h2>
						<hr />
					</div>
					<div class="section-content">
						<div class="work-item-wrapper">
							<div class="row work-item-list">
								<div class="col-md-5 col-sm-6 col-xs-12 work-item">
	                <%= image_tag "poten1.jpg" ,class: "wow fadeIn", "data-wow-duration"=>"1s", "data-wow-delay"=>"0.5s"  %>
									<div class="image-overlay">
											<div class="work-item-info">
												<h3>Transportation Station</h3>
												<i class="fa fa-search-plus"></i>
											</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-12 work-item">
	                <%= image_tag "poten2.jpg" ,class: "wow fadeIn", "data-wow-duration"=>"1s", "data-wow-delay"=>"0.5s" %>
									<div class="image-overlay">
											<div class="work-item-info">
												<h3>Building Interior</h3>
												<i class="fa fa-search-plus"></i>
											</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12 work-item">
	                <%= image_tag "poten3.jpg" ,class: "wow fadeIn", "data-wow-duration"=>"1s", "data-wow-delay"=>"0.5s" %>
									<div class="image-overlay">
											<div class="work-item-info">
	                      <h3>Shop</h3>
												<i class="fa fa-search-plus"></i>
											</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-12 work-item">
	                <%= image_tag "poten4.jpg" ,class: "wow fadeIn", "data-wow-duration"=>"1s", "data-wow-delay"=>"0.5s" %>
									<div class="image-overlay">
											<div class="work-item-info">
	                      <h3>Media Facade</h3>
												<i class="fa fa-search-plus"></i>
											</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-12 work-item">
	                <%= image_tag "poten5.jpg" ,class: "wow fadeIn", "data-wow-duration"=>"1s", "data-wow-delay"=>"0.5s"  %>
									<div class="image-overlay">
											<div class="work-item-info">
												<h3>Office Interior</h3>
												<p>2017.3</p>
												<i class="fa fa-search-plus"></i>
											</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-12 work-item">
									<%= image_tag "poten6.jpg" ,class: "wow fadeIn", "data-wow-duration"=>"1s", "data-wow-delay"=>"0.5s"  %>
									<div class="image-overlay">
											<div class="work-item-info">
												<h3>Building Exterior</h3>
												<i class="fa fa-search-plus"></i>
											</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<!-- WORKING MOVIES -->
			<div id="workingmovie" class="section portfolio padding-top">
				<div class="container">
					<div class="section-heading">
						<h2><%= t('.workingmovie') %></h2>
						<hr />
					</div>
					<div class="section-content">
						<div class="work-item-wrapper">
							<div class="row work-item-list">
								<div class="col-md-6 col-sm-6 col-xs-12 work-item">
									<iframe width="98%" height="315" src="https://www.youtube.com/embed/A7HxMyLLJCI" frameborder="0" allowfullscreen></iframe>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12 work-item">
									<iframe width="98%" height="315" src="https://www.youtube.com/embed/_PcVF-oFgkI" frameborder="0" allowfullscreen></iframe>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12 work-item">
									<iframe width="98%" height="315" src="https://www.youtube.com/embed/-pscp0R4VyA" frameborder="0" allowfullscreen></iframe>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12 work-item">
									<iframe width="98%" height="315" src="https://www.youtube.com/embed/LS5qAn5Ue98" frameborder="0" allowfullscreen></iframe>
								</div>
								<div class="col-md-12 col-sm-6 col-xs-12 work-item">
									<iframe width="98%" height="450" src="https://www.youtube.com/embed/iwc_UOR8cTg" frameborder="0" allowfullscreen></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="cosmoblanc" class="section cosmoblanc padding-top">
				<div class="container">
					<div class="section-heading">
						<h2><%= t('.cosmoblanc') %></h2>
						<hr />
					</div>
					<p style="text-align: center;">
						COMING SOON.
					</p>
					<div class="col-md-1"></div>
					<div class="col-md-10 col-sm-12 col-xs-12 image">
					</div>
				</div>
			</div>


			<div class="section dark">
				<div class="section-content text-center">
					<h2 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s"><%= t('.sentence_we') %></h2>
					<a href="https://www.facebook.com/techartglass/" class="btn btn-primary wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">About TAGsolution</a>
				</div>
			</div>

      <!-- SERVICES -->
      <!--
      <div id="services" class="section services padding-top padding-bottom">
        <div class="container">
          <div class="section-heading">
            <h2><%= t('.services') %></h2>
            <hr />
          </div>
          <div class="section-content">
            <p><%= t('.services_con') %></p>
            <div class="row text-center wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
              <div class="fact col-xs-6 col-md-3 col-lg-3">
                <i class="icon ion-cube"></i>
                <h4><%= t('.icon2') %></h4>
              </div>
              <div class="fact col-xs-6 col-md-3 col-lg-3">
                <i class="icon ion-monitor"></i>
                <h4><%= t('.icon3') %></h4>
              </div>
              <div class="fact col-xs-6 col-md-3 col-lg-3">
                <i class="icon ion-images"></i>
                <h4><%= t('.icon4') %></h4>
              </div>
              <div class="fact col-xs-6 col-md-3 col-lg-3">
                <i class="icon ion-home"></i>
                <h4><%= t('.icon1') %></h4>
              </div>
            </div>
            <div class="row text-center wow fadeInRight" data-wow-duration="1s" data-wow-delay="1s">
              <div class="fact col-xs-6 col-md-3 col-lg-3">
                <i class="icon ion-ios-camera"></i>
                <h4><%= t('.icon5') %></h4>
              </div>
              <div class="fact col-xs-6 col-md-3 col-lg-3">
                <i class="icon ion-settings"></i>
                <h4><%= t('.icon6') %></h4>
              </div>
              <div class="fact col-xs-6 col-md-3 col-lg-3">
                <i class="icon ion-load-a"></i>
                <h4><%= t('.icon7') %></h4>
              </div>
              <div class="fact col-xs-6 col-md-3 col-lg-3">
                <i class="icon ion-videocamera"></i>
                <h4><%= t('.icon8') %></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      --!>
			<!-- NEWSLETTER -->
      <!--
      <div class="section newsletter">
        <div class="section-content">
          <div class="container">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
              <h3 class="wow fadeInDown" data-wow-duration="1s"><%= t('.subscribe') %></h3>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
              <form action="/home/subscribe" method="post">
                <input type="email" class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s" name="newsletter" placeholder="Enter only email with '@'..." />
                <br />
                <button onclick="alert('Complete')" type="submit" class="btn btn-primary btn-lg wow fadeInUp"  data-wow-duration="1s" data-wow-delay="0.5s" name="send"><%= t('.subscribe_btn') %></button>
              </form>
            </div>
          </div>
        </div>
      </div>
      --!>


      <!-- TESTIMONIALS -->
      <!-- <div id="testimonials" class="section testimonials parallax-container" data-parallax="scroll" data-image-src="http://placehold.it/1200x1200" data-natural-width="1200" data-natural-height="1200">
        <div class="section-heading">
          <h2>Quotes</h2>
          <hr />
        </div>
        <div class="section-content">
          <div class="container">
            <div id="owl-testimonials" class="owl-carousel">
              <div>
                <p>The critical ingredient is getting off your butt and doing something. It’s as simple as that. A lot of people have ideas, but there are few who decide to do something about them now. Not tomorrow. Not next week. But today. The true entrepreneur is a doer, not a dreamer.</p>
                <p class="mini">– Nolan Bushnell, entrepreneur -</p>
              </div>
              <div>
                <p>A person who never made a mistake never tried anything new.</p>
                <p class="mini">- Albert Einstein, Physicist -</p>
              </div>
              <div>
                <p>Everyone has an idea, but it’s really about executing the idea and attracting other people to help you with the idea.</p>
                <p class="mini">- Jack Dorsey, Entrepreneur, Co-Founder of Twitter -</p>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <!-- CONTACT -->
      <div id="contact" class="section contact padding-top padding-bottom">
        <div class="section-heading">
          <h2>CONTACT</h2>
          <hr />
        </div>
        <div class="section-content">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="contact-info">
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <i class="icon ion-map"></i>
                    <h4>ADDRESS</h4>
                    <p><%= t('.adress') %></p>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <i class="icon ion-ios-telephone"></i>
                    <h4>PHONE</h4>
                    <p>+82 70 8679 2503</p>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <i class="icon ion-ios-email"></i>
                    <h4>EMAIL</h4>
                    <p><a href="mailto:rr5ys5s@gmail.com">support@tagsolution.kr</a></p>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 text-center padding-top">
                <div class="contact-form">
                  <div class="alert"></div>
                  <form id="contact-form" action="home/submit" method="post">
                    <div class="row">
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <label class="sr-only" for="name">Name:</label>
                        <input type="text" id="name" name="name" placeholder="Name *" required>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <label class="sr-only" for="email">Email:</label>
                        <input type="email" id="email" name="email" placeholder="Only for Email with '@'" required>
                      </div>
                    </div>
                    <div class="row text-right">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <label class="sr-only" for="message">Message:</label>
                        <textarea id="message" name="message" placeholder="Message *" required></textarea>
                        <button onclick="alert('Complete')" type="submit" class="btn btn-primary btn-lg" name="send">SEND</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <footer id="footer" class="section">
      <div class="section-content">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <h3>ABOUT</h3>
              <hr />
              <p><%= t('.about_footer') %></p>
            </div>
            <div class="col-md-6 col-sm-6 hidden-xs">
              <h3>CONTACT</h3>
              <hr />
              <ul>
                <li>
                  <a href="https://www.facebook.com/techartglass/"> <p>FACEBOOK</p></a>
                </li>
		<li>
		  <a href="https://blog.naver.com/tagsolution"> <p>BLOG</p></a>
		</li>
                <li>
                  <a href="mailto:support@tagsolution.kr"><p>support@tagsolution.kr</p></a>
                </li>
                <li>
                  <p>+82 10 4650 2603</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="row padding-top">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <p class="copyright">&copy; 2017. TAGSolution. All Rights Reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="back-to-top">
      <a href="#top"><i class="ion-ios-arrow-up"></i></a>
    </div>

    <!-- JAVASCRIPT -->
  </body>
</html>
