<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>TAGSolution</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="description" content="Arkit - Responsive One Page Portfolio HTML Template">
		<meta name="author" content="RB Web Design">


		<!-- GOOGLE FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	</head>
	<body id="top">
		
		<!-- NAVBAR -->
		<div class="navbar navbar-fixed-top">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
					<span class="sr-only">Menu</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="index.html" class="navbar-title"><span class="color">TAG</span>Solution</a>
			</div>
			<nav class="navbar-collapse collapse" id="main-nav">
				<ul class="nav navbar-nav navbar-right nav-text-light">
					<li class="active"><a href="#top"><%= t('.home') %></a></li>
					<li><a href="#about"><%= t('.about') %></a></li>
					<li><a href="#team"><%= t('.team') %></a></li>
					<li><a href="#projects"><%= t('.project') %></a></li>
					<li><a href="#services"><%= t('.product') %></a></li>
          <li><a href="#contact"><%= t('.contact') %></a></li>
          <% if I18n.locale == :en %>
            <li><%= link_to "KOREAN", locale: 'ko' %></li>
          <% else %>
            <li><%= link_to "ENGLISH", locale: 'en' %></li>
          <% end %>
				</ul>
			</nav>
		</div>

		<!-- MAIN TOP -->
		<div id="main-top" class="main-top">
			<div class="main-content">
				<div class="container content">
					<div class="row text-center">
						<h2><%= t('.main1') %></h2>
						<hr />
						<h3><%= t('.main2') %></h3>
					</div>
					<div class="row text-center">
						<a href="#about" class="scroll-down"></a>
					</div>
				</div>
			</div>
		</div>

		<!-- MAIN CONTENT -->
		<div id="main-content" class="main-content">

			<!-- ABOUT -->
			<div id="about" class="section padding-top">
				<div class="section-content">
					<div class="row text-center">
						<div class="col-md-4 col-sm-12 col-xs-12">
							<div class="box">
                <%= image_tag "archi.jpg" %>
								<div class="overlay">
									<h4><%= t('.architec') %></h4>
									<hr />
								</div>
							</div>	
						</div>
						<div class="col-md-4 col-sm-12 col-xs-12">
							<div class="box">
                <%= image_tag "digital.jpg" %>
								<div class="overlay">
									<h4><%= t('.signage') %></h4>
									<hr />
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-12 col-xs-12">
							<div class="box">
                <%= image_tag "facade.jpg" %>
								<div class="overlay">
									<h4><%= t('.facade') %></h4>
									<hr />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section about padding-top">
				<div class="row text-left">
					<div class="col-md-6 col-sm-12 col-xs-12 image">
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12 background">
						<div class="content wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
							<h3><%= t('.aboutus') %></h3>
							<p><%= t('.about_content') %></p>
							<a href="#team" class="btn btn-primary">EXPLORE</a>
						</div>
					</div>
				</div>
			</div>

			<!-- TEAM -->
			<div id="team" class="section padding-top">
				<div class="container">
					<div class="section-heading">
						<h2><%= t('.ourteam') %></h2>
						<hr />
					</div>
					<div class="section-content">
						<div class="row text-center">
							<div class="col-md-6 col-sm-12 col-xs-12 text-center">
								<div class="team wow fadeInLeft" data-wow-duration="1s">
                  <%= image_tag "seung.jpg" %>
									<div class="mask">
										<h2>SeungHwan Park</h2>
										<p>CEO</p>
										<a href="https://www.facebook.com/seunghwan.park.315" class="info"><i class="icon ion-social-facebook"></i></a>
										<a href="https://www.linkedin.com/in/seunghwan-park-4742ba118?trk=nav_responsive_tab_profile_pic" class="info"><i class="icon ion-social-linkedin"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-12 col-xs-12 text-center">
								<div class="team wow fadeInDown" data-wow-duration="1s">
                  <%= image_tag "kwang.jpg" %>
									<div class="mask">
										<h2>KwangHo Lee</h2>
										<p>CTO</p>
										<a href="https://www.facebook.com/kwangho.good?fref=ts" class="info"><i class="icon ion-social-facebook"></i></a>
										<a href="https://www.linkedin.com/in/ggomma?authType=NAME_SEARCH&authToken=zBf4&locale=ko_KR&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A459935811%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1482310511469%2Ctas%3Akwangho%20" class="info"><i class="icon ion-social-linkedin"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>		

			<!-- PROJECTS -->
			<div id="projects" class="section portfolio padding-top">
				<div class="section-heading">
					<h2><%= t('.ourproject') %></h2>
					<hr />
				</div>
				<div class="section-content">
					<div class="work-item-wrapper">
						<div class="row work-item-list">
							<div class="col-md-4 col-sm-6 col-xs-12 work-item">
                <%= image_tag "shinchon.jpg" ,class: "wow fadeIn", "data-wow-duration"=>"1s", "data-wow-delay"=>"0.5s"  %>
								<div class="image-overlay">
										<div class="work-item-info">
											<h3>Seoul, Shinchon</h3>
											<p>2016.4</p>
											<i class="fa fa-search-plus"></i>
										</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 work-item">
                <%= image_tag "coex.jpg" ,class: "wow fadeIn", "data-wow-duration"=>"1s", "data-wow-delay"=>"0.5s"  %>
								<div class="image-overlay">
										<div class="work-item-info">
											<h3>Seoul, Coex</h3>
											<p>2016.9</p>
											<i class="fa fa-search-plus"></i>
										</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 work-item">
                <%= image_tag "ces.jpg" ,class: "wow fadeIn", "data-wow-duration"=>"1s", "data-wow-delay"=>"0.5s"  %>
								<div class="image-overlay">
										<div class="work-item-info">
                      <h3>Las Vegas, CES <br><br />  ( Coming Soon )</h3>
											<p>2017.1</p>
											<i class="fa fa-search-plus"></i>
										</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 work-item">
                <%= image_tag "snu.jpg" ,class: "wow fadeIn", "data-wow-duration"=>"1s", "data-wow-delay"=>"0.5s"  %>
								<div class="image-overlay">
										<div class="work-item-info">
                      <h3>Seoul National Univ<br> <br> ( Coming Soon )</h3>
											<p>2017.</p>
											<i class="fa fa-search-plus"></i>
										</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 work-item">
                <%= image_tag "media.jpg" ,class: "wow fadeIn", "data-wow-duration"=>"1s", "data-wow-delay"=>"0.5s"  %>
								<div class="image-overlay">
										<div class="work-item-info">
											<h3>Coming Soon</h3>
											<p></p>
											<i class="fa fa-search-plus"></i>
										</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12 work-item">
                <%= image_tag "color.jpg" ,class: "wow fadeIn", "data-wow-duration"=>"1s", "data-wow-delay"=>"0.5s"  %>
								<div class="image-overlay">
										<div class="work-item-info">
											<h3>Coming Soon</h3>
											<p></p>
											<i class="fa fa-search-plus"></i>
										</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="purchase" class="section">
				<div class="section-content">
					<div class="container partner-table">
						<div class="col-md-12 col-sm-12 col-xs-12 text-center partner">
							<button class="btn btn-primary btn-lg"><%= t('.load_more') %></button>
						</div>
					</div>
				</div>
			</div>

			<!-- NEWSLETTER -->
			<div class="section newsletter">
				<div class="section-content">
					<div class="container">
						<div class="col-md-12 col-sm-12 col-xs-12 text-center">
							<h3 class="wow fadeInDown" data-wow-duration="1s"><%= t('.subscribe') %></h3>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12 text-center">
              <form action="/home/subscribe" method="post">
                <input type="email" class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s" name="newsletter" placeholder="Enter your email..." />
                <br />
                <button onclick="alert('Complete')" type="submit" class="btn btn-primary btn-lg wow fadeInUp"  data-wow-duration="1s" data-wow-delay="0.5s" name="send"><%= t('.subscribe_btn') %></button>
              </form>
						</div>
					</div>
				</div>
			</div>

			<div class="section dark">
				<div class="section-content text-center">
					<h2 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s"><%= t('.sentence_we') %></h2>
					<a href="https://themeforest.net/item/arkit-responsive-one-page-html-template/18600837?ref=RBWebDesign" class="btn btn-primary wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">GET STARTED</a>
				</div>
			</div>

      <!-- SERVICES -->
      <div id="services" class="section services padding-top padding-bottom">
        <div class="container">
          <div class="section-heading">
            <h2><%= t('.services') %></h2>
            <hr />
          </div>
          <div class="section-content">
            <p><%= t('.services_con') %></p>
            <div class="row text-center wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
              <div class="fact col-xs-6 col-md-3 col-lg-3">
                <i class="icon ion-cube"></i>
                <h4><%= t('.icon2') %></h4>
              </div>
              <div class="fact col-xs-6 col-md-3 col-lg-3">
                <i class="icon ion-monitor"></i>
                <h4><%= t('.icon3') %></h4>
              </div>
              <div class="fact col-xs-6 col-md-3 col-lg-3">
                <i class="icon ion-images"></i>
                <h4><%= t('.icon4') %></h4>
              </div>
              <div class="fact col-xs-6 col-md-3 col-lg-3">
                <i class="icon ion-home"></i>
                <h4><%= t('.icon1') %></h4>
              </div>
            </div>
            <div class="row text-center wow fadeInRight" data-wow-duration="1s" data-wow-delay="1s">
              <div class="fact col-xs-6 col-md-3 col-lg-3">
                <i class="icon ion-ios-camera"></i>
                <h4><%= t('.icon5') %></h4>
              </div>
              <div class="fact col-xs-6 col-md-3 col-lg-3">
                <i class="icon ion-settings"></i>
                <h4><%= t('.icon6') %></h4>
              </div>
              <div class="fact col-xs-6 col-md-3 col-lg-3">
                <i class="icon ion-load-a"></i>
                <h4><%= t('.icon7') %></h4>
              </div>
              <div class="fact col-xs-6 col-md-3 col-lg-3">
                <i class="icon ion-videocamera"></i>
                <h4><%= t('.icon8') %></h4>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- TESTIMONIALS -->
      <div id="testimonials" class="section testimonials parallax-container" data-parallax="scroll" data-image-src="http://placehold.it/1200x1200" data-natural-width="1200" data-natural-height="1200">
        <div class="section-heading">
          <h2>Quotes</h2>
          <hr />
        </div>
        <div class="section-content">
          <div class="container">
            <div id="owl-testimonials" class="owl-carousel">
              <div>
                <p>The critical ingredient is getting off your butt and doing something. It’s as simple as that. A lot of people have ideas, but there are few who decide to do something about them now. Not tomorrow. Not next week. But today. The true entrepreneur is a doer, not a dreamer.</p>
                <p class="mini">– Nolan Bushnell, entrepreneur -</p>
              </div>
              <div>
                <p>A person who never made a mistake never tried anything new.</p>
                <p class="mini">- Albert Einstein, Physicist -</p>
              </div>
              <div>
                <p>Everyone has an idea, but it’s really about executing the idea and attracting other people to help you with the idea.</p>
                <p class="mini">- Jack Dorsey, Entrepreneur, Co-Founder of Twitter -</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- CONTACT -->
      <div id="contact" class="section contact padding-top padding-bottom">
        <div class="section-heading">
          <h2>CONTACT</h2>
          <hr />
        </div>
        <div class="section-content">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="contact-info">
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <i class="icon ion-map"></i>
                    <h4>ADDRESS</h4>
                    <p><%= t('.adress') %></p>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <i class="icon ion-ios-telephone"></i>
                    <h4>PHONE</h4>
                    <p>+82 70 8679 2503</p>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <i class="icon ion-ios-email"></i>
                    <h4>EMAIL</h4>
                    <p><a href="mailto:rr5ys5s@gmail.com">rr5ys5s@gmail.com</a></p>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 text-center padding-top">
                <div class="contact-form">
                  <div class="alert"></div>
                  <form id="contact-form" action="home/submit" method="post">
                    <div class="row">
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <label class="sr-only" for="name">Name:</label>	
                        <input type="text" id="name" name="name" placeholder="Name *" required>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <label class="sr-only" for="email">Email:</label>
                        <input type="email" id="email" name="email" placeholder="Email *" required>	
                      </div>
                    </div>
                    <div class="row text-right">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <label class="sr-only" for="message">Message:</label>
                        <textarea id="message" name="message" placeholder="Message *" required></textarea>
                        <button onclick="alert('Complete')" type="submit" class="btn btn-primary btn-lg" name="send">SEND</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>	

    <!-- FOOTER -->
    <footer id="footer" class="section">
      <div class="section-content">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
              <h3>ABOUT</h3>
              <hr />
              <p><%= t('.about_footer') %></p>
            </div>
            <div class="col-md-4 col-sm-3 hidden-xs">
              <h3>LINKS</h3>
              <hr />
              <ul>
                <li><i class="icon ion-android-arrow-dropright"></i> <a href="">About</a></li>
                <li><i class="icon ion-android-arrow-dropright"></i> <a href="">Team</a></li>
                <li><i class="icon ion-android-arrow-dropright"></i> <a href="">Projects</a></li>
                <li><i class="icon ion-android-arrow-dropright"></i> <a href="">Services</a></li>
                <li><i class="icon ion-android-arrow-dropright"></i> <a href="">Contact</a></li>
                <li><i class="icon ion-android-arrow-dropright"></i> <a href="">Quotes</a></li>
              </ul>
            </div>
            <div class="col-md-4 col-sm-3 hidden-xs">
              <h3>Terms of Service(Coming Soon)</h3>
              <hr />
              <ul>
              </ul>
            </div>

          </div>
          <div class="row padding-top">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <p class="copyright">&copy; 2017. TAGSolution. All Rights Reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="back-to-top">
      <a href="#top"><i class="ion-ios-arrow-up"></i></a>
    </div>

    <!-- JAVASCRIPT -->
  </body>
</html>
